<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="aplus-terminal" content="1"/>
	    <meta name="keywords" content="SHOPDZ" />
		<meta name="apple-mobile-web-app-title" content="SHOPDZ"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>帮助中心</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/common.css" />
		<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
		<!-- <script type="text/javascript" src="js/gotoTop.js"></script>
		<script type="text/javascript" src="js/config.js"></script> -->
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/template.js"></script>
		
	</head>
	<body>
		<div id="header_has_nav">
		</div>
		<!--wrapper开始-->
		<div class="wrapper wrapper-bg">
			<!--content开始-->
			<div class="content">
				<img src="img/helpimg.png" alt="" class="help-img" id="help-img"/>
			</div>
			<!--content结束-->
			<div id="footer"></div>
		</div>
		<!--wrapper结束-->
		<script type="text/html" id="help_list">
			<ul class="href-list">
				<% for(i in help_list){ %>
					<li>
						<a href="artical_helper.html?id=<%=help_list[i].article_id %>">
							<p class="href-word"><%=help_list[i].article_title %></p>
							<p class="href-point"><img src="img/jtr.png" alt="<%=help_list[i].article_title %>" class="href-jtR"/></p>
						</a>
					</li>
				<% } %>
			</ul>
		</script>
		<script type="text/javascript" src="js/tmpl/footer.js"></script>
		<script type="text/javascript" src="js/tmpl/help.js"></script>
		<script type="text/javascript" src="js/tmpl/weixin.js"></script>
		<script type="text/javascript" src="js/tmpl/weixinshare.js"></script>
	</body>
</html>
