/*首页样式index.html开始*/

body, button, input, keygen, legend, select, textarea{
	line-height: 1.5;
    color: #333;
    outline: 0;
    font-family: helvetica,PingFangSC-Regular,'Heiti SC';
    margin: 0;
    padding: 0;
    border: 0;
}
html,body{
	width: 100%;
	font-size: 62.5% !important;
	font-family: helvetica,PingFangSC-Regular,'Heiti SC';
	height: 100%;
}

/*外部链接*/
.outside-link {
	width: 100%;
	/*padding: 0 5%;*/
}
.link-box {
	width: 100%;
	clear: both;
	overflow: hidden;
}
.link-box li {
	float: left;
	width: 25%;
	text-align: center;
}
.link-img {
	display: block;
	width: 60%;
	margin: 0 auto;
}	
.link-tit {
	font-size: 1.2rem;
	padding: .5rem 0;
}

*{margin: 0;padding: 0;}
.wrapper{
	width: 100%;
	height: 100%;
}
.foot-fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 4.5rem;
	width: 100%;
	border-top: 1px solid #f0f0f0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	background: #f9f9f9;
}
/*.cover{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	display: none;
}*/
.borderred{
	border:1px solid #AB2B2B !important;
}
.marginB-no{margin-bottom: 0 !important;}
.left{float: left;}
.right{float: right;}
.swiper-container{
	width: 100%;
}
.swiper-slide>img{
	width: 100%;
}
.swiper-pagination-bullet{
	width: 30px;
	border-radius: 0;
	background: #FFF;
	height: 2px;
}
.header-box{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #f0f0f0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.index-header{
	height: 4rem;
	background: #fff;
	position: relative;
}
.logo{
	display: inline-block;
	position: absolute;
	top:.8rem;
	left:1rem;
	width: 5rem;
	height: auto;
}
.search-btn1{
	width: 60%;
	height:2.5rem;
	display:inline-block;
	margin:.5rem 20%;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	overflow: hidden;
}
.search-btn1 input{
	border: none;
	width: 80%;
	height: 90%;
	padding-left:4%;
	margin:1% 0 15%;
	
}
.searchbtn{
	position: absolute;
	right:1rem;
	top: .3rem;
	width: 1.7rem;
	height: auto;
	display: inline-block;
}
.shop-cart{
	position: absolute;
	top:.5rem;
	right: 3.5rem;
	width: 2.5rem;

}

.shop-cart-img{
	display: inline-block;
	width: 100%;
}
.shop-cart-have{
	position: absolute;
	top:0 ;
	right: -3px;
	display: inline-block;
	width: .8rem;
	height:.8rem;
	display: none;
}
.sign-in{
	position: absolute;
	right: .5rem;
	top:1.2rem;
	font-size: 1.4rem;
	color: #999;
}
.content-bg{
	background: #fff;
}
.content{
	margin-top: 4rem;
	margin-bottom: 4.5rem;
}
.content,.content1,.content2{
	width: 100%;
	height: auto;
}
.topic-list{
	
}
.topic-tit{
	width: 50%;
	margin:1.5rem auto;
	font-size: 2rem;
	height: 3rem;
	background: url(../img/bg1.png) repeat;
	background-size: 100% 100%;
	text-align: center;
	line-height:1.8;
}
.list-con{
	width: 100%;
}
.list-img{
	/*width: 94%;*/
	padding: .5rem 3%;
}
.list-img>a{
	display: inline-block;
    padding: 0;
}
.list-img>a img{
	width: 100%;
}
.more-box1{
	margin:1.5rem 0;
	text-align: center;
}
.morebtn1{
	margin: 0 auto;
	font-size: 1.8rem;
	text-align: center;
	line-height:1.8;
	background: url(../img/more.png) no-repeat right center;
	padding-right: 30px;
	background-size: 18px 18px;
	color: #666;
}
.con-list{
	background-color: #eee;
	width: 100%;
	/*padding-top: 1.5rem;*/
}
.con1{
	background: #fff;
}
.con-tit{
	display: inline-block;
	width: 50%;
	margin:1rem 25% 0 25%;
	background: url(../img/bg2.png) repeat;
	background-size: 100% 100%;
	height: 3rem;
	font-size: 2rem;
	text-align: center;
	line-height: 1.6;
}
.listbox1{
	width: 94%;
	margin:0 3%;
	background: #fff;
	overflow: hidden;
	zoom: 1;
}
.listbox1 dl:nth-child(even){
	margin-left: 3%;
}
.list-dl{
	width: 48.5%;
	float: left;
	border: 1px solid #f0f0f0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	margin-top: 1rem;
}
.list-dl dt{
	width: 100%;
	background: #f4f4f4;
}
.list-dl dt>img{
	width: 100%;
}
.list-dl dd{
	width: 90%;
	margin-left: 5%;
	padding-bottom: 1.2rem;
}
.dl-tit{
	font-size: 1.4rem;
	line-height: 1.5;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	color: #666;
	margin-top: 1rem;
}
.price1{
	text-align: center;
	font-size: 1.4rem;
	color: #ab2b2b;
	font-weight:500;
	line-height: 1.5;
}
.foot1{
	border-top:1px solid #f0f0f0;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}
.icp,.icp a{
	font-size: 1.2rem;
	line-height: 2rem;
	text-align: center;
	color: #999;
	letter-spacing: 1px;
}
.gotobtn{
	position: fixed;
	bottom: 6rem;
	right: 2rem;
	z-index: 9998;
	width: 4.5rem;
	opacity: .5;
}
.gotobtn>img{width: 100%;}

/*首页样式index.html结束*/
/*登录注册页面signIn.html样式开始*/
.sign-img1{
	display: inline-block;
	width: 100%;
}
.signIn-box{
	width: 90%;
	margin:.5rem 5%;
	border-bottom: 1px solid #f1f1f1;
	height:4.5rem;
	position: relative;
}
.sign-icon{
	display: inline-block;
	width: 2.8rem;
	float: left;
	margin-top: .8rem;
}
.sign-inp{
	height: 88%;
	float: left;
	border: none;
	width: 80%;
	padding-left:3%;
	font-size: 1.6rem;
	line-height:3.8;
	color: #333;
}
.dele{
	position: absolute;
	top:1rem;
	right: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	background: url(../img/dele1.png) repeat;
	background-size: 100% 100%;
	display: none;
}
.sign-inp::-webkit-input-placeholder{
	color: #ccc;;
}
.sign-btn1{
	width: 90%;
	margin:2rem 5%;
}
.signbtn{
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	color: #fff;
	line-height: 1;
	background: #ab2b2b;
	font-weight:700;
}
.register{
	font-size: 1.6rem;
	line-height: 3;
	text-align: right;
	text-decoration: underline;
	color: #888;
}
.send-out{
	position: absolute;
	top:1rem;
	right: 1rem;
	width: 8rem;
	height: 2.5rem;
	background: #ccc;
	color:#fff;
	line-height: 2.5;
	text-align: center;
	letter-spacing: 1px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.timenum1{color: #AB2B2B;}
.send-out-bg{
	background: #ab2b2b;
}
.signbtn input:disabled{
	background-color: #F5F5F5;
}
.remind1{
	text-align: center;
	font-size: 1.2rem;
	color: #ab2b2b;
	line-height: 4;
	display: none;
}
.content2{
	display: none;
	min-height: 100%;
	min-width: 100%;
}
.remind2{
	margin-top: 2rem;
	width: 70%;
	margin-left: 15%;
}
.remind-p{
	float: left;
	font-size: 1.6rem;
	color: #2d6cad;
	line-height: 1.5;
	font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;
}
.remind-check{
	float: left;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	margin:.3rem .3rem 0 0;
}
.gray-font{
	color: #666;
}


/*登录注册页面signIn.html样式结束*/

/*列表页面list.html样式开始*/
.list-img2{
	display: inline-block;
	width: 100%;
}
.con-tit2{
	display: inline-block;
	width: 70%;
	margin:0rem 15% 0 15%;
	background: url(../img/list-code1.png) no-repeat left center;
	background-size: 2rem auto;
	height: 3rem;
	font-size: 1.6rem;
	text-align: center;
	line-height: 2.3;
	color: #777;
}

/*列表页面list.html样式结束*/




/*商品详情details.html页面样式开始*/
.details-r-box{
	
	height: 3rem;
	width: 100%;
	
}
.details-remind{
	width: 48%;
	margin:0 26%;
	overflow: hidden;
	zoom: 1;
	text-align: center;
	
}
.details-remind>div{
	float: left;
}
.details-remind>div:nth-child(1){
	
}
.details-remind>div:nth-child(3){

}
.details-remind>div:nth-child(2){
	padding:0 1rem;
}
.dotted-con {
    padding-top: 1.2rem;
}
.f-fl{
	
}
.det-remind-tit{
	color: #999;
	font-size: 1.6rem;
	line-height: 2;
}
.m-dottedList {
	overflow: hidden;
    zoom: 1;
}
.m-dottedList i {
    float: left;
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    margin-right: .3rem;
    background: #ccc;
}
.details1{
	background: #fff;
	padding:2rem 0;
}

.details-tit1{
	color: #666;
	text-align: center;
	font-size: 1.8rem;
	line-height: 2.5;
}
.details-subtit1{
	color: #888;
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.5;
	
}
.details-price{
	font-size: 1.6rem;
	color: #ab2b2b;
	text-align: center;
	font-weight: 500;
	line-height: 2.2;
}
.specbox{
	height: 5rem;
	margin-top: 1.5rem;
	background: #fff;
	width: 100%;
	text-align: center;
}
.specbox span{
	line-height: 4;
	font-size: 1.5rem;
	color: #666;
}
.jt-r{
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	background: url(../img/jt-r.png) no-repeat;
	background-size: 100% 100%;
	float: right;
	margin-top: 1.2rem;
	margin-right: 1.5rem;
}
.pro-parameter{
	width: 100%;
	margin-top: 1.5rem;
	background: #fff;
	height: auto;
	padding: 1rem 0;
}
.para-tit{
	padding-left: 5%;
	line-height: 2;
	font-size: 1.4rem;
	color: #666;
}
.para-con{
	width: 90%;
	margin:.5rem 5%;
	padding:.8rem 0;
	background: #f6f6f6;
}
.spec-span1,.spec-span2{
	color: #666;
	font-size: 1.3rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	padding: 0 .8rem;
}
.img-box1{
	width: 100%;
	margin-bottom: 5rem;
}
.img-box1 img{
	display: inline-block;
	width: 100%;
}

.spec-none{
	width: 100%;
	height:100%;
	background: #fff;
	display: none;
}
.spec-dl1{
	width: 96%;
	margin-top: 4rem;
	margin-left: 2%;
	height: auto;
	overflow: hidden;
	zoom: 1;
	display: inline-block;
	
}
.spec-dl1-dt{
	float: left;
	width: 35%;
	height: auto;
}
.spec-dl1-dt img{
	width: 100%;
	height: 100%;
}
.spec-dd-price{
	color: #333;
	font-weight: 500;
	font-size: 1.6rem;
	margin-top: 2rem;
}
.spec-none-tit{
	font-size: 1.6rem;
	margin-top: .5rem;
	
}
.spec-none-tit span{
	color: #666;
}
.choice-tit{
	font-size: 1.6rem;
	line-height: 2.2;
	color: #666;
}
.spec-choice{
	width: 90%;
	margin-left:5%;
}
.choice-ul{
	width:100%;
}
.choice-ul li{
	float: left;
	padding:.5rem;
	border: 1px solid #f0f0f0;
	margin:.5rem;
	border-radius: .3rem;
	-webkit-border-radius: .3rem;
	-moz-border-radius: .3rem;
	-o-border-radius: .3rem;
	position: relative;
}
.active-bg{
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background: url(../img/choice-true.png) no-repeat;
	background-size: 100% 100%;
}
.choice-box1{
	overflow: hidden;
	zoom: 1;
}
.size1{
	padding: 0 10px;
}
.jia-jian{
	margin-bottom:100px;
	width: 150px;
	height: 37px;
	overflow: hidden;
	zoom: 1;
}
.jia-jian span{
	font-size: 2rem;
	width:40px;
	height:35px;
	color: #333;
	font-weight:400;
	border: 1px solid #ccc;
	display: inline-block;
	float: left;
	line-height: 35px;
	text-align: center;
}

.num-input{
	width: 66px;
	height: 35px;
	border: none;
	float: left;
	line-height: 35px;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.choice-foot{
	
	
}
.choice-back{
	float: left;
	display: inline-block;
	width: 20%;
	height: 100%;
	border-right:1px solid #ccc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.choice-back-img{
	display: inline-block;
	width: 4rem;
	height: auto;
	margin-top: .5rem;
	margin-left: 1.6rem;
}
.choice-com-btn{
	width: 40%;
	height: 100%;
	float: left;
	font-size: 1.4rem;
	line-height: 2;
	color: #666;
	text-align: center;
	background: none;
	border-right:1px solid #ccc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.add-shopcart{
	color: #fff;
	font-weight: 500;
	background: #AB2B2B;
	letter-spacing: 1px;
}

/*商品详情details.html页面样式结束*/



/*商品评价comment.html页面样式开始*/
.comment-list{
	width: 100%;
}
.comment-list div:last-child{
	border: none;
}
.comment-con{
	padding:1rem 5% 2rem 5%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}
.name-time span{
	line-height: 2.8;
	display: inline-block;
	
}
.name1{
	width: 70%;
	text-align: left;
	color: #333;
	font-size: 1.4rem;
}
.time1{
	font-size: 1.2rem;
	width: 30%;
	color:#888;
	text-align: left;
}
.comment-spec,.comment-word{
	line-height: 2;
	font-size: 1.8rem;
}
.comment-spec{
	color: #888;
}
.comment-word{
	color: #333;
}
.con-img-list{
	width: 100%;
	overflow: hidden;
	zoom: 1;
	margin-top: 1rem;
}
.con-img-list li{
	float: left;
	width:24%;
	margin-right: 1%;
}
.con-img-list li>img{
	display: inline-block;
	width: 100%;
	height: 100%;
	
}
/*商品评价comment.html页面样式结束*/

/*购物车页面样式shopCart.html开始*/
.cart-list{
	width: 100%;
	padding-top: 1.5rem;
	height: 8rem;
}
.cart-list li{
	 width: 100%;
	height: 100%;
	margin-bottom: 1rem;
}
.cart-list-l,.cart-list-r,.cart-list-rl,.cart-list-rr,.cart-list-dt,.cart-list-dd{
	float: left;
}
.cart-list-l,.cart-list-r,.cart-list-dl{
	overflow: hidden;
	zoom: 1;
}
.cart-list-l{
	width: 15%;
	height: 100%;
	text-align: center;
}
.cart-list-r{
	width: 85%;
	height: 100%;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 1rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.cart-list-dl{
	width: 80%;
	height: 100%;
}
.cart-list-dt{
	width: 40%;
	height: 100%;
}
.cart-list-dt>img{
	display: inline-block;
	height: 100%;
	background: #f5f5f5;
}
.cart-list-dd{
	width: 60%;
	height: 100%;
}
.cart-dd-tit{
	line-height: 1.5;
	font-size: 1.5rem;
	color: #888;
	font-weight: normal;
}
.size1{
	padding: 0;
	margin-top: 1rem;
}
.jia-jian1{
	margin-bottom:0;
	width: 100px;
	height: 2.5rem;
}
.jia-jian1 span{
	font-size: 2rem;
	width:28px;
	height: 100%;
	line-height: 1.4;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.num-input1{
	width: 40px;
	height: 100%;
	line-height: 1.4;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.cart-list-rr{
	width: 20%;
}
.cart-dele{
	display: inline-block;
	width: 2.5rem;
}
.cart-proprice{
	font-size: 1.4rem;
	color: #666;
	margin-top: 1.5rem;
}
.cart-spec{
	font-size: 1.2rem;
	line-height: 1.5;
	color: #888;
}
.cart-choice1{
	
}
.check-box{
	width: 2rem;
	height: 2rem;
	margin:3rem auto;
	position: relative;
}

.check-box .input_check {
	width: 20px;
	height: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background:url(../img/cb-normal.png) no-repeat;
	background-size: 100%;
	 vertical-align: middle;
	 border:none;
}
.check-box .input_check:checked {
  background:url(../img/cb-selected.png) no-repeat;
	background-size: 100%;
}
.check-box span {
	position: relative;
}
/* .check-box .input_check+label {
	display: inline-block;
	width: 20px;
	height: 20px;
	background:url(../img/cb-selected.png) no-repeat;
	background-size: 100%;
}
.check-box .input_check:checked+label {
	background:url(../img/cb-normal.png);
	background-size: 100%;
} */
.shopcart-foot{
	
}
.shopcart-foot div{
	float: left;
	height: 100%;
}
.check-all-box{
	width: 75%;
}
.settlement{
	width: 25%;
	background: #AB2B2B;
	font-size: 1.4rem;
	color: #fff;
}
.input-com1{height: 100%;width: 100%;}
.foot-float{
	float: left;
}
.all-remind{
	line-height: 3.2;
	font-size: 1.6rem;
	color: #666;
}
.cart-price-all{
	margin-left: 50%;
	padding-top: .5rem;
}
.cart-price-all span{
	color: #ab2b2b;
	line-height: 1.5;
}
.yuan1,.price-num1{
	font-size: 1.6rem;
}
.remind3{
	color: #888 !important;
	font-size: 1.2rem !important;
}
.settlement{
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 3.8;
}
.alertbox{
	position: fixed;
	z-index: 10001;
	width: 80%;
	left: 10%;
	background: #fff;
	top: 30%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	display: none;
}
.alert-p{
	font-size: 1.6rem;
	color: #666;
	text-align: center;
	line-height:8;
}
.btnbox1{
	height: 4rem;
	border-top:1px solid #f0f0f0;
	
}
.btnbox1>span{
	display: inline-block;
	width: 50%;
	height: 100%;
	line-height: 4rem;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	font-size: 1.4rem;
	text-align: center;
}
.cancelbtn1{
	border-right: 1px solid #f0f0f0;
}
.surebtn1{
	color: #AB2B2B;
}



/*购物车页面样式shopCart.html结束*/

/*结算页面settlement.html样式开始*/
.mine-span{
	position: absolute;
	top: .5rem;
	right: 8rem;
	width: 2.5rem;
}
.mine-img{
	display: inline-block;
	width: 100%;
}
.address-bg{
	height: .5rem;
	width: 100%;
	background: url(../img/address-bg.png) repeat;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}
.address-box,.coupon,.order-detail{
	background: #fff;
	margin-bottom: 1.5rem;
	width: 90%;
	padding:1.5rem 5%;
	overflow: hidden;
	zoom: 1;
	position: relative;
}
.address-box>div{
	float: left;
}
.address-box2{
	background: #fff;
	margin-bottom: 1.5rem;
	width: 90%;
	padding:1.5rem 5%;
	overflow: hidden;
	zoom: 1;
	position: relative;
}
.address-box2>div{
	float: left;
}
.address-name{
	width: 18%;
}
.address-describe{
	width: 78%;
	margin-left: 4%;
}
.jt-r2{
	position: absolute;
	top: 50%;
	right: 1.5rem;
	height: 3rem;
	margin-top: -1.5rem;
}
.jt-r2>img{
	display: inline-block;
	width: 2.6rem;
}
.order-list{
	background: #fff;
	height: auto;
	width: 90%;
	padding:.5rem 5%;
}
.order-list>li{
	border-bottom: 1px solid #f5f5f5;
	padding:.9rem 0 .5rem 0;
	}
.order-dl1{
	overflow: hidden;
	zoom: 1;
}
.order-dl1 dt{
	width: 30%;
}
.order-dl1 dt img{
	display: inline-block;
	width: 100%;
}
.order-dl1 dd{
	width: 66%;
	margin-left: 4%;
}
.tit-p1{
	font-size: 1.3rem;
	line-height: 2;
}
.img-bg{background: #f4f4f4;}
.default{
	padding: .2rem;
	border: 1px solid #AB2B2B;
	border-radius: .2rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	-o-border-radius: .2rem;
	font-size: 1rem;
	position: relative;
	top: .4rem;
}
.name2,.phone1{
	line-height: 2;
	font-size: 1.4rem;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.address-word{
	font-size: 1.2rem;
	line-height: 1.5;
}
.address-word{
	width: 85%;
	}
.coupon>p{
	font-size: 1.4rem;
}
.order-ul>li{
	height: 5rem;
	font-size: 1.4rem;
	border-bottom: 1px solid #f7f7f7;
	line-height: 4;
}
.wordred{color: #AB2B2B;}
.order-checkbox{
	height: auto;
	margin: 0;
}
.order-num span{
	line-height: 4;
	font-size: 1.4rem;
}
.order-detail{
	padding:0 5%
}
.choice-ul2{
	background: #fff;
}
.border-redleft{
	border-left: 3px solid #ab2b2b;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	
}
.border-bot{
	margin-left: 1rem;
	border-bottom: 1px solid #f0f0f0;
	float: none;
	overflow: hidden;
	zoom: 1;
}
.address-edit-page{
	background: #f7f7f7;
	height: 100%;
	display: none;
}
.address-choice{display: none;}
.address-edit-ul{
	width: 90%;
	padding:0 5%;
	background: #fff;
}
.address-edit-ul>li{
	height: 5rem;
	border-bottom: 1px solid #f7f7f7;
	font-size: 1.4rem;
	line-height: 4;
}
.posi1{
	position: relative;
}
.area-choice{
	position: absolute;
	top:1rem;
	right: 2%;
	height: 3rem;
	
}
.area1{
	width: 100%;
	height: 100%;
}
.area1 option{
	
}
.address-default{
	height: 5rem;
	background: #fafafa;
	line-height: 4.5;
	text-align: center;
}

.address-check{
	margin: .5rem 0;
	display: inline-block;
}
.remind4{color: #999;}
.address-foot span{
	display: inline-block;
	width: 50%;
	height: 100%;
	font-size: 1.3rem;
	line-height:5;
	color: #fff;
	text-align: center;
	font-weight: 500;
}
.cancelbtn2{
	background: #333;
}
.surebtn2{
	background: #ab2b2b;
}
.new-build{
	background: #ab2b2b;
	color: #fff;
	font-size: 1.4rem;
	text-align: center;
	line-height: 3.8;
	font-weight: 600;
	letter-spacing: 2px;
}
.address-remind{
	position: fixed;
	top: 45%;
	left: 30%;
	width:40%;
	height: 10%;
	background: #333;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-o-border-radius: .5rem;
	display: none;
	color: #fff;
	text-align: center;
	line-height: 5;
	font-size: 1.4rem;
	z-index: 11000;
}

/*结算页面settlement.html样式结束*/




/*下单成功页面OrderSucces.html样式开始*/
.success-header{
	padding-bottom: 1rem;
	background: #fff;
}
.success-img{
	display: inline-block;
	width: 30%;
	height: auto;
	margin:2rem 35% 1rem 35%;
}
.success-tit{
	text-align: center;
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 2;
}
.jump-link{
	margin:1rem 0;
}
.jump-link a{
	display: inline-block;
	width: 20%;
	font-size: 1.4rem;
	line-height: 2.5;
	text-align: center;
	border: 1px solid #ccc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.jump-link a:first-child{
	margin:0 5% 0 25%;
}
.jump-link a:last-child{
	margin:0 25% 0 5%;
}
.detail-box1{
	width: 90%;
	padding:1rem 5%;
	border-top: 1px solid #f0f0f0;
	background: #fff;
}
.details-p1{
	font-size: 1.3rem;
	line-height: 2.3;
}
.details-p1 span{
	display: inline-block;
	
}
.details-p1 span:first-child{
	width: 18%;
}
.details-p1 span:last-child{
	width: 82%;
}
.details-p1{
	position: relative;
}
.details-span1{
	position: absolute;
	top: 0;
}
.details-span2{
	margin-left: 18%;
}	
.bottom-bg{
	width: 100%;
	height: .5rem;
	background: url(../img/orderCompleteBg.png) repeat;
}
/*下单成功页面OrderSucces.html样式结束*/


/*个人中心页面mine.html样式开始*/
.head-bg{
	height:14rem;
	width: 100%;
	background: url(../img/mine-bg.jpg) repeat;
	background-size: 100% 100%;
}
.head-img{
	display: inline-block;
	width: 20%;
	margin:3rem 40% .5rem 40%;
}
.head-p{
	text-align: center;
	font-size: 1.4rem;
	color: #fff;
}
.modular-box{
	overflow: hidden;
	zoom: 1;
}
.modular-li{
	float: left;
	display: inline-block;
	height: 9rem;
	width: 33.33%;
	border-top: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	box-sizing: border-box;
	display:-webkit-box; 
	 -webkit-box-orient:vertical; 
	 -webkit-box-pack:center; 
	 -webkit-box-align:center; 
	 display:-moz-box; 
	 -moz-box-orient:vertical; 
	 -moz-box-pack:center; 
	 -moz-box-align:center; 
	 display:-o-box; 
	 -o-box-orient:vertical; 
	 -o-box-pack:center; 
	 -o-box-align:center; 
	 display:-ms-box; 
	 -ms-box-orient:vertical; 
	 -ms-box-pack:center; 
	 -ms-box-align:center; 
	 display:box; 
	 box-orient:horizontal; 
	 box-pack:center; 
	 box-align:center;
}
.modular-li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	display:-webkit-box; 
	 -webkit-box-orient:vertical; 
	 -webkit-box-pack:center; 
	 -webkit-box-align:center; 
	 display:-moz-box; 
	 -moz-box-orient:vertical; 
	 -moz-box-pack:center; 
	 -moz-box-align:center; 
	 display:-o-box; 
	 -o-box-orient:vertical; 
	 -o-box-pack:center; 
	 -o-box-align:center; 
	 display:-ms-box; 
	 -ms-box-orient:vertical; 
	 -ms-box-pack:center; 
	 -ms-box-align:center; 
	 display:box; 
	 box-orient:horizontal; 
	 box-pack:center; 
	 box-align:center;
}
.modular-img{
	display: inline-block;
	height: 5rem;
	width: auto;
	
}
.mine-foot{
	margin-top: 3rem;
	height: 4.5rem;
	font-size: 1.4rem;
	line-height: 4;
	text-align: center;
	width: 100%;
	background: #fff;
}


/*个人中心页面mine.html样式结束*/

/*我的订单页面myOrder.html样式开始*/
.order-list2{
	margin-top: 1rem;
	border-top: 1px solid #f9f9f9;
	background: #f7f7f7;
}
.myorder1{
	width: 90%;
	padding:0 5%;
	background: #fff;
}
.order-num1{
	font-size: 1.4rem;
	line-height: 3;
	font-weight: normal;
}
.order-dl2{
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	overflow: hidden;
	zoom: 1;
}
.order-dl2 dt{
	padding:.8rem 0 .5rem 0;
	width: 25%;
}
.order-dl2 dd{
	width: 75%;
	overflow: hidden;
	zoom: 1;
	padding:.8rem 0 .5rem 0;
}
.dd-left{
	width: 75%;
}
.dd-right{
	width: 25%;
}
.order-img1{
	display: inline-block;
	width: 6rem;
}
.margin-t1{
	margin-top: 1rem;
}
.dd-p1{
	font-size: 1.4rem;
	line-height: 1.5;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.dd-p2{
	font-size: 1.2rem;
	line-height: 1.5;
}
.order-btn1{
	padding:.8rem 0;
}
.btn-border1{
	display: inline-block;
	padding: .5rem 0;
	font-size: 1.4rem;
	width: 22%;
	border:1px solid #f0f0f0;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.canceled{
	font-size: 1.2rem;
	line-height: 3;
}
.delebtn1{
	padding: .5rem 0;
	font-size: 1.4rem;
	width: 22%;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}


/*我的订单页面myOrder.html样式结束*/


/*意见反馈页面feedback.html样式开始*/
.textarea-box{
	width: 90%;
	margin:1rem 5%;
	position: relative;
	border: 1px solid #f5f5f5;
	height: 12rem;
}
.textcount{
	position: absolute;
	bottom: .5rem;
	right: 1rem;
}
.options{
	width: 100%;
	height: 100%;
	border:none;
	resize : none;
	font-size: 1.4rem;
	line-height: 3;
	padding:0 .5rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	color: #999;
}
.phone2{
	height: 3rem;
	border-bottom: 1px solid #f5f5f5;
	font-size: 1.4rem;
	line-height: 2.2;
	width: 90%;
	margin:2rem 5%;
}
.feedback-head{
	background: #AB2B2B;
	text-align: center;
	font-size: ;
}

/*意见反馈页面feedback.html样式结束*/




/*优惠券页面coupon-page.html样式开始*/
#sidebar-tab{
	
	} 
#tab-title{
	height: 3.5rem;
	overflow:hidden;
	zoom:1;
	width: 80%;
	padding:0 10%;
	border-bottom: 1px solid #ccc;
	background: #fff;
}
#tab-title .selected{
	color:#AB2B2B;
	border-bottom:3px solid #AB2B2B;
	color: #AB2B2B;
	} /*标题被选中时的样式*/ 
#tab-title li{
	float:left;
	display: inline-block;
	width:25%;
	cursor:pointer;
	font-size: 1.3rem;
	line-height: 3.2;
	text-align: center;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
} 
#tab-content .show{display:block;} /*默认让第一块内容显示，其余隐藏*/ 
#tab-content ul{
	overflow:hidden;
	display: none;
	
} 
#tab-content ul li{
	
}
.voucher-list{
	width: 100%;
}
.voucher-list>li{
	width: 94%;
	padding:.5rem 3% .8rem 3%;
	height: 11rem;
	min-height: 11rem;
	margin:.5rem 0;
	border-bottom: 1px solid #f0f0f0;
}
.voucher-box{
	height: 100%;
	background: #fff;
	position: relative;
	overflow: hidden;
	zoom: 1;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}
.voucher-top{
	background: url(../img/coupon-bg1.png) repeat-x left top;
	background-size: 9px 10px;
	overflow: hidden;
	zoom: 1;
	min-height: 7rem;
}
.top-left,.top-right{
	display: inline-block;
	width: 50%;
	overflow: hidden;
	zoom: 1;
	min-height: 7rem;
}
.size-small,.size-big{
	display: inline-block;
	
}
.size-small{
	width: 20%;
	font-size: 2rem;
	text-align: right;
	margin-top: 5rem;
}
.size-big{
	width: 80%;
	font-size: 5rem;
	margin-top: 2rem;
}
.size-color{
	color: #47b0da !important;
}
.top-right-tit,.over-num{
	text-align: center;
	font-weight: 600;
	color: #444;
}
.top-right-tit{
	height: 4.5rem;
	width: 100%;
	font-size: 1.4rem;
	line-height:1.8;
	margin-top: .8rem;
	background: url(../img/xian1.png) no-repeat center bottom;
	background-size: 150px 4px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.over-num{
	height: 2.5rem;
	font-size: 1.4rem;
	line-height:2.8;
}
.voucher-center{
	height: .3rem;
	width: 100%;
	background: url(../img/xian2.png) repeat-x;
	background-size: auto 100%;
}
.voucher-bottom>p{
	font-size: 1.2rem;
	line-height: 2.5;
}
.voucher-bottom>p:first-child{
	 padding-left: .5rem;
}
.voucher-bottom>p:last-child{
	 padding-right: .5rem;
}
.gray-font2{
	color:#999 !important;
}
.loot-all{
	position: absolute;
	top: 2rem;
	right: 2rem;
	height: 6rem;
	width: 6rem;
	background:url(../img/sold-out.png) no-repeat;
	background-size: 100% 100%;
	display: none;
}

/*优惠券页面coupon-page.html样式结束*/


/*物流跟踪页面logistics.html样式开始*/
.logistics-head{
	height: 8rem;
	width: 100%;
	background: url(../img/wuliu-bg.png) repeat;
	background-size: 100% 100%;
	display:-webkit-box; 
	-webkit-box-pack:center; 
	 -webkit-box-align:center; 
	 display:-moz-box; 
	 -moz-box-orient:horizontal; 
	 -moz-box-pack:center; 
	 -moz-box-align:center; 
	 display:-o-box; 
	
	 -o-box-pack:center; 
	 -o-box-align:center; 
	 display:-ms-box; 
	 -ms-box-pack:center; 
	 -ms-box-align:center; 
	 display:box; 
	 box-pack:center; 
	 box-align:center;

}
.cart-box{
	width: 24%;
	text-align: center;
}
.cart-img{
	display: inline-block;
	height: 5rem;
	margin:auto;
}
.logistics-details{
	width: 76%;
}
.logistics-details li{
	font-size: 1.4rem;
	line-height: 2;
	display:-webkit-box; 

-webkit-box-orient:horizontal; 

-webkit-box-pack:start; 

 display:-moz-box; 
 -moz-box-orient:horizontal; 
 -moz-box-pack:start; 
 
 display:-o-box; 
 -o-box-orient:horizontal; 
 -o-box-pack:start; 

 display:-ms-box; 
 -ms-box-orient:horizontal; 
 -ms-box-pack:start; 

 display:box; 
 box-orient:horizontal; 
 box-pack:start; 
 

}
.logistics-details li span{
	
}
.logistics-details li p:first-child{
	text-align: right;
	width: 26%;
}
.logistics-details li p:last-child{
	width: 64%;
	margin-right: 10%;
}
.limit-p{
	line-height: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.logistics-track{
	margin-top: 1.5rem;
	background: #fff;
	width: 95%;
	padding-left: 5%;
}
.logistics-track>li{
	background: url(../img/wuliu-code1.png) no-repeat left 1.5rem;
	background-size: 1rem auto;
	font-size: 1.4rem;
	line-height: 2;
	padding:1rem 0 1rem 1.5rem;
	border-bottom: 1px solid #f0f0f0;
}
.logistics-track>li:first-child{
	color: #2bab52 !important;
	background: url(../img/wuliu-code2.png) no-repeat left 1.5rem;
	background-size: 1rem auto;
}
.logistics-track>li p{
	width: 95%;
	margin-right: 5%;
}

/*物流跟踪页面logistics.html样式结束*/


/*评价页面evaluate.hrml样式开始*/
.evaluate-dl{
	width: 90%;
	overflow: hidden;
	zoom: 1;
	margin:1.5rem 5% 1.5rem 5%;
}
.evaluate-dl dt{
	width:20%;
}
.evaluate-dl dd{
	width:80%;
	overflow: hidden;
	zoom: 1;
}
.evalutate-img{
	display: inline-block;
	width: 100%;
}
.evaluate-dd-left{
	width: 66%;
}
.evaluate-dd-right{
	width: 34%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	display: -o-box;
	-o-box-orient: horizontal;
	-o-box-pack: center;
	-o-box-align: center;
	display:box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
	
}
.submit-btn1{
	padding:.6rem 2rem;
	border: 1px solid #f0f0f0;;
	background: none;
	font-size: 1.4rem;
	letter-spacing: 2px;
	margin-top: 1.5rem;
}
.evaluate-dd-left h2{
	font-size: 1.4rem;
	line-height: 2;
	font-weight: normal;width: 96%;
	margin: 0 auto;
}
.evaluate-dd-left p{
	font-size: 1.2rem;
	line-height: 2;
	width: 96%;
	margin: 0 auto;
	color: #666;
}
/*评价页面evaluate.hrml样式结束*/



/*订单详情页面oorderDetails.html样式开始*/
.orderDet-head{
	padding: 1rem 5%;
	background: #fff;
}
.orderDet-head p{
	font-size: 1.2rem;
	line-height: 2;
}
.order-num2{
	overflow: hidden;
	zoom: 1;
	color: #AB2B2B;
}
.orderD-con{
	width: 95%;
	padding-left: 5%;
	overflow: hidden;
	zoom: 1;
	background: #fff;
	margin-top: 1.5rem;
}
.order-con-ul{
	width: 100%;
	border-bottom: 1px solid #f5f5f5;
	padding: 1rem 0;
}
.order-con-ul li{
	font-size: 1.2rem;
	line-height: 2.3;
}
.clear-li{
	overflow: hidden;
	zoom: 1;
}
.clear-li p:first-child{
	width: 20%;
}
.clear-li p:last-child{
	width: 80%;
}
.order-con-remind{
	margin-top: 1.5rem;
	background: #fff;
	width: 90%;
	padding:1rem 5%;
	overflow: hidden;
	zoom: 1;
}
.order-con-remind p{
	font-size: 1.4rem;
	line-height: 3;
}
.order-con-remind p:first-child{
	width: 90%;
	text-align: center;
}
.custom-service{
	margin-top: 1.5rem;
	background: #fff;
	width: 90%;
	padding: 1rem 5%;
	overflow: hidden;
	zoom: 1;
}
.custom-service p{
	width: 50%;
	text-align: center;
	font-size:1.4rem;
	line-height: 2;
}
.custom-service p:first-child{
	background: url(../img/order-kefu.png) no-repeat 22% center;
	background-size: 2.5rem auto;
}
.custom-service p:last-child{
	background: url(../img/order-kefu2.png) no-repeat 22% center;
	background-size: 2.5rem auto;
}

/*订单详情页面oorderDetails.html样式结束*/


/*优惠券领取页面coupon-recive.html样式开始*/
.verify-code{
	margin-top: 1.5rem;
	width: 94%;
	padding-left: 3%;
}
.verify-inp::-webkit-input-placeholder{
	font-size: 1.4rem;
	color: #999;
} 
.verify-inp{
	height: 3.5rem;
	border: 1px solid #f0f0f0;
	width: 70%;
	padding-left: 1rem;
	vertical-align:middle;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	color: #333;
	font-size: 1.4rem;
}
.verifycode{
	display: inline-block;
	height: 3.5rem;
	width: 24%;
	margin-left: 5%;
	font-size: 1.2rem;
	background: #fff;
	 vertical-align:middle;
	 text-align: center;
	 line-height: 3;
}
.immediately-recive{
	margin-top: 2rem;
	width: 94%;
	margin-left: 3%;
	background: #ab2b2b;
	color: #fff;
	font-size: 1.4rem;
	height: 3.5rem;
	letter-spacing: 1px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}


/*优惠券领取页面coupon-recive.html样式结束*/














