/*=======================ZhangFuPeng===========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	/*font: inherit;*/
	/*vertical-align: baseline;*/
	font-weight: normal;
	font-family: "microsoft yahei";
	color:#333;
}
textarea, input{ resize:none; outline:none;}
input{ background:#fff;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
/*a:hover{text-decoration: none !important;}*/
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
	border: 0;
	list-style: none;
}
/* add */
p{margin:0;}
img{border:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
select,input{vertical-align:middle;outline: none;}
.clear { display:block !important; clear:both !important; float:none !important; margin:0 !important; padding:0 !important; height:0; line-height:0; font-size:0; overflow:hidden;}
.clearfix { zoom:1; }
.clearfix:after { content:""; display:block; clear:both; height:0; }
.spacer{clear:both; font-size:0; height:0; line-height:0;}
a{color:#333;text-decoration:none}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.f-l{ float:left;display:inline;}
.f-r{ float:right;display:inline;}
.p-r{ position:relative;}
.p-a{ position:absolute;}
.h100{ height:100% ;}
.cell {
    display: table-cell;
    vertical-align: middle;
}